In [2]:
import pandas as pd

In [3]:
import sys

In [4]:
 %load_ext autoreload
%autoreload 2

In [5]:
sys.path.append('../src')

In [39]:
from cleaning import concating_by_column, concating_by_row, new_index, rename_columns, order, droping_rows

### Final Dataframes

Joining all the dataset from scraping:

In [10]:
one = pd.read_csv('../data/bs_skin_types_one.csv', index_col='Unnamed: 0')

In [11]:
two = pd.read_csv('../data/bs_skin_types_two.csv', index_col='Unnamed: 0')

In [12]:
three = pd.read_csv('../data/bs_skin_types_three.csv', index_col='Unnamed: 0')

In [13]:
four = pd.read_csv('../data/bs_skin_types_four.csv', index_col='Unnamed: 0')

In [14]:
five = pd.read_csv('../data/bs_skin_types_five.csv', index_col='Unnamed: 0')

In [15]:
six = pd.read_csv('../data/bs_skin_types_six.csv', index_col='Unnamed: 0')

In [16]:
seven = pd.read_csv('../data/bs_skin_types_seven.csv', index_col='Unnamed: 0')

In [17]:
eight = pd.read_csv('../data/bs_skin_types_eight.csv', index_col='Unnamed: 0')

In [18]:
nine = pd.read_csv('../data/bs_skin_types_nine.csv', index_col='Unnamed: 0')

In [19]:
# Datasets to concat from scraping

to_concating = [one, two, three, four, five, six, seven, eight, nine]

In [25]:
# All datasets

final = concating_by_row(to_concating)

In [27]:
#  New index 

final = new_index(final)

In [29]:
# Export

final.to_csv('../data/skin_type_final.csv')

In [40]:
# Importing the final dataset

final_data = pd.read_csv('../data/skin_type_final_one.csv', index_col='Unnamed: 0')

In [41]:
# Looking for an ERROR

final_data[final_data.col == 'ERROR']

       col
995  ERROR

In [43]:
# Droping that row

final_data = droping_rows(final_data, [995])

In [44]:
# Looking for an ERROR ---> Not there anymore

final_data[final_data.col == 'ERROR']

Empty DataFrame
Columns: [col]
Index: []

In [46]:
# Regex to replace values

final_data =  final_data.replace( to_replace=r',.and', value= ',', regex=True)

In [47]:
# Regex to replace values

final_data = final_data.replace( to_replace=r'.and', value= ',', regex=True)

In [74]:
# Export

final_data.to_csv('../data/final_data.csv')

### Final dataset

Joining the previous datasets with the original one

In [75]:
original = pd.read_csv('../data/clean_data.csv', index_col='Unnamed: 0')

In [76]:
# Dataset to concat

to_concat_final = [original, final_data]

In [77]:
final_dataset  =concating_by_column(to_concat_final)

In [82]:
# Rename columns

names = {'Brand':'Brand',
         'Category':'Category',
         'Name': 'Name',
         'Rating':'Rating',
         'Price':'Price',
         'URL':'URL',
         'Ingredients':'Ingredients',
         'col': 'Skin_Type'
}

In [83]:
final_dataset = rename_columns(final_dataset, names)

In [85]:
# New order for columns

columns = ['Brand', 'Category', 'Name', 'Skin_Type', 'Ingredients', 'URL', 'Price', 'Rating']

In [86]:
final_dataset = order(final_dataset, columns)

In [88]:
# Export

final_dataset.to_csv('../data/final_dataset_to_mongo.csv')

In [89]:
final_dataset

,Brand,Category,Name,Skin_Type,Ingredients,URL,Price,Rating
0,Algenist,Face Serum,GENIUS Liquid Collagen,"Normal, Dry, Combination, Oily",-Patented Alguronic Acid: Naturally sourced a...,https://www.sephora.com/product/genius-liquid-...,95.45,4.0
1,Algenist,Moisturizer,GENIUS Sleeping Collagen,"Normal, Dry, Combination, Oily",-Patented Alguronic Acid: Naturally sourced a...,https://www.sephora.com/product/genius-sleepin...,81.34,4.5
2,Algenist,Moisturizer,GENIUS Ultimate Anti-Aging Cream,"Normal, Dry, Combination, Oily",-Patented Alguronic Acid: Naturally sourced a...,https://www.sephora.com/product/genius-ultimat...,92.96,4.5
3,Algenist,Eye Cream,Complete Eye Renewal Balm,"Normal, Dry, Combination, Oily",-Patented Alguronic Acid: Visibly minimizes t...,https://www.sephora.com/product/complete-eye-r...,56.44,4.0
4,Algenist,Sunscreen & After Sun Care,SUBLIME DEFENSE Ultra Lightweight UV Defense F...,"Normal, Dry, Combination, Oily",-Patented Alguronic Acid: Helps minimize the ...,https://www.sephora.com/product/sublime-defens...,23.24,4.5
...,...,...,...,...,...,...,...,...
2342,SEPHORA COLLECTION,Cleanser,Supreme Cleansing Oil,"Normal, Dry, Combination, Oily",-Cottonseed Oil: Nourishes and provides smoot...,https://www.sephora.com/product/supreme-cleans...,12.45,4.5
2343,SEPHORA COLLECTION,Exfoliator,Sugar Body Scrub,"Normal, Dry, Combination, Oily",-Brown Sugar from Natural Origin: Known to gen...,https://www.sephora.com/product/sephora-collec...,14.11,4.0
2344,SEPHORA COLLECTION,Exfoliator,Exfoliating Body Granita Scrub - Surprise Flowers,"Normal, Dry, Combination, Oily",Water- Glycerin- Cellulose Acetate- Sodium Lau...,https://www.sephora.com/product/exfoliating-bo...,6.64,3.5
2345,SEPHORA COLLECTION,Face Mask,The Rose Gold Mask,"Normal, Dry, Combination, Oily",-Rose Quartz Extract: Hydrates dry skin. Aqua...,https://www.sephora.com/product/the-rose-gold-...,4.98,2.0
2346,SEPHORA COLLECTION,Moisturizer,Weekend Warrior Tone Up Cream,"Normal, Dry, Combination, Oily",Aqua (Water)- Dimethicone- Isohexadecane- Poly...,https://www.sephora.com/product/sephora-collec...,13.28,0.0