In [2]:
import pandas as pd

In [3]:
import sys

In [4]:
 %load_ext autoreload
%autoreload 2

In [5]:
sys.path.append('../src')

In [39]:
from cleaning import concating_by_column, concating_by_row, new_index, rename_columns, order, droping_rows

### Final Dataframes

Joining all the dataset from scraping:

In [10]:
one = pd.read_csv('../data/bs_skin_types_one.csv', index_col='Unnamed: 0')

In [11]:
two = pd.read_csv('../data/bs_skin_types_two.csv', index_col='Unnamed: 0')

In [12]:
three = pd.read_csv('../data/bs_skin_types_three.csv', index_col='Unnamed: 0')

In [13]:
four = pd.read_csv('../data/bs_skin_types_four.csv', index_col='Unnamed: 0')

In [14]:
five = pd.read_csv('../data/bs_skin_types_five.csv', index_col='Unnamed: 0')

In [15]:
six = pd.read_csv('../data/bs_skin_types_six.csv', index_col='Unnamed: 0')

In [16]:
seven = pd.read_csv('../data/bs_skin_types_seven.csv', index_col='Unnamed: 0')

In [17]:
eight = pd.read_csv('../data/bs_skin_types_eight.csv', index_col='Unnamed: 0')

In [18]:
nine = pd.read_csv('../data/bs_skin_types_nine.csv', index_col='Unnamed: 0')

In [19]:
# Datasets to concat from scraping

to_concating = [one, two, three, four, five, six, seven, eight, nine]

In [25]:
# All datasets

final = concating_by_row(to_concating)

In [27]:
#  New index 

final = new_index(final)

In [29]:
# Export

final.to_csv('../data/skin_type_final.csv')

In [98]:
# Importing the final dataset

final_data = pd.read_csv('../data/skin_type_final_one.csv', index_col='Unnamed: 0')

In [99]:
# Looking for an ERROR

final_data[final_data.col == 'ERROR']

       col
995  ERROR

In [100]:
# Droping that row

final_data = droping_rows(final_data, [995])

In [101]:
# Looking for an ERROR ---> Not there anymore

final_data[final_data.col == 'ERROR']

Empty DataFrame
Columns: [col]
Index: []

In [102]:
# Regex to replace values

final_data =  final_data.replace( to_replace=r',.and', value= ',', regex=True)

In [103]:
# Regex to replace values

final_data = final_data.replace( to_replace=r'.and', value= ',', regex=True)

In [105]:
final_data.col  = final_data.col.str.strip()

In [120]:
skin_type_list = []
for d in final_data.col:
    skin_type_list.append(str(d).split(','))

In [124]:
list_as_df = pd.DataFrame({'col':skin_type_list})

In [125]:
list_as_df

                                      col
0     [Normal,  Dry,  Combination,  Oily]
1     [Normal,  Dry,  Combination,  Oily]
2     [Normal,  Dry,  Combination,  Oily]
3     [Normal,  Dry,  Combination,  Oily]
4     [Normal,  Dry,  Combination,  Oily]
...                                   ...
2341  [Normal,  Dry,  Combination,  Oily]
2342  [Normal,  Dry,  Combination,  Oily]
2343  [Normal,  Dry,  Combination,  Oily]
2344  [Normal,  Dry,  Combination,  Oily]
2345  [Normal,  Dry,  Combination,  Oily]

[2346 rows x 1 columns]

In [126]:
# Export

final_data.to_csv('../data/final_data.csv')

### Final dataset

Joining the previous datasets with the original one

In [127]:
original = pd.read_csv('../data/clean_data.csv', index_col='Unnamed: 0')

In [136]:
# Dataset to concat

to_concat_final = [original, list_as_df]

In [137]:
final_dataset  =concating_by_column(to_concat_final)

In [138]:
# Rename columns

names = {'Brand':'Brand',
         'Category':'Category',
         'Name': 'Name',
         'Rating':'Rating',
         'Price':'Price',
         'URL':'URL',
         'Ingredients':'Ingredients',
         'col': 'Skin_Type'
}

In [139]:
final_dataset = rename_columns(final_dataset, names)

In [140]:
# New order for columns

columns = ['Brand', 'Category', 'Name', 'Skin_Type', 'Ingredients', 'URL', 'Price', 'Rating']

In [141]:
final_dataset = order(final_dataset, columns)

In [145]:
final_final_dataset = final_dataset.explode('Skin_Type')

In [147]:
# New index

final_final_dataset = new_index(final_final_dataset )

In [151]:
final_final_dataset.Skin_Type = final_final_dataset.Skin_Type.str.replace(" ", "")

In [162]:
# Drop na

final_final_dataset = final_final_dataset.dropna()

In [165]:
# Export

final_final_dataset.to_csv('../data/final_dataset_to_mongo.csv')